<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<link rel="stylesheet" href="estilo.css">
    
	<title>Formulário</title>  
  </head>
  <body>
    
    <div class="card-panel teal lighten-3">
	  <h1 id="titulo">Ficha de Inscrição</h1> 
	</div>
    <form id="app" v-on:submit="salvar">
		<div class="container">
			<div class="row">
				<div class="input-field col s12">
				  <input id="email" type="email" class="validate" v-model="email" >
				  <label for="email"data-error="wrong" data-success="right">Email:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="nome" type="text" class="validate" required v-model="nome">
					<label for="nome">Nome:</label>
				</div>
			</div>
                       
			<div class="row">
				<label for ="sexo">Sexo</label>
				<div class="input-field col s12">
					<select class="browser-default" id="sexo" v-model="sexo">
						<option v-for="opa in sexos" v-bind:value="opa.value">
                            {{opa.text}}
                        </option>
					 </select>
					 
				  </div>
			</div>

		<div class="row">
			<label for ="curso">Cursos</label>
				<div class="input-field col s12">
					<select class="browser-default" id="curso" v-model="curso">
						<option v-for="opb in cursos" v-bind:value="opb.value">
                            {{opb.text}}
                        </option>
					 </select>
				  </div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<input id="endereco" type="text" class="validate" v-model="endereco">
					<label for="endereco">Endereço para Correspondência:</label>
				</div>
			</div>
	  
			<div class="row">
				<div class="input-field col s12">
				  <input id="complemento" type="text" class="validate" v-model="complemento">
				  <label for="complemento">Complemento:</label>
				</div>
			</div>
	  
			<div class="row">
				<div class="input-field col s12">
					<textarea id="cep" class="materialize-textarea" data-length="8" required v-model="cep"></textarea>
					<label for="cep">Cep</label>
				</div>
			</div>
      
			<div class="row">
				<div class="input-field col s12">
				  <input id="municipio" type="text" class="validate" required v-model="municipio" >
				  <label for="municipio">Municipio:</label>
				</div>
	    </div>
		   <div class="row">
				 <label for="uf">UF</label>
				<div class="input-field col s12">
					<select class="browser-default" id="uf" v-model="uf">
						<option v-for="opc in ufs" v-bind:value="opc.value">
                            {{opc.text}}
                        </option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<button class="btn waves-effect waves-light" type="submit">Enviar</button>
				</div>
			</div>
		</div>
	  </form>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
	<script src="vue.js"></script>
	
  </body>
</html>
